html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  @extend %r300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  background-color: $bg;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 220px;
  height: 65px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 18px;
  background-color: #fff;
  transition: background-color 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $accent;
  }

  &--white {
    color: $dark;
    background-color: #fff;
  }

  &--dark {
    border: none;
    color: #fff;
    background-color: $dark;
  }

  &--min {
    height: 50px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.title {
  font-size: 36px;
  @extend %r400;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

.fade {
  animation: "fade" 1s;
}
