.calculating {
  padding: 50px 0;

  .title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__content {
    @include bg($size: 48%, $position: left);
    @include mq("1360") {
      background-size: 100%;
    }
  }

  &__body {
    margin-left: auto;
    padding: 30px 0 40px;
    max-width: 50%;
    background: rgba(146, 242, 255, 0.1);
    @include mq("1360") {
      margin: 0 auto;
      max-width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &__subtitle {
    margin: 15px 0 20px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
    @include mq("1360") {
      color: #fff;
    }
  }

  #gender::after {
    @include pseudo();
    top: 50%;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
  }

  &__choose {
    position: relative;
    max-width: 50%;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px;
      outline: none;
      border: none;
      padding: 0 10px;
      min-width: 170px;
      min-height: 50px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      font-size: 14px;
      text-align: center;
      background: #fff;
      transition: color 0.3s, background-color 0.3s;
      cursor: pointer;

      &--active {
        color: #fff;
        background-color: $bg;
      }
    }

    &--top {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
    @include mq("500") {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq("500") {
      display: flex;
      flex-direction: column;
    }
  }

  &__divider {
    margin: 40px auto;
    width: 490px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 490px;
    @include mq("1360") {
      color: #fff;
    }
    @include mq("500") {
      flex-direction: column;
    }
  }

  &__result {
    font-weight: 700;
    font-size: 18px;

    span {
      font-size: 42px;
    }
  }
  @include mq("768") {
    padding: 0;
  }
}
