.header {
  color: #fff;
  background-color: $dark;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 550px;
  }

  &__logo {
    margin-right: 30px;
  }

  &__icon {
    max-width: 90px;
    max-height: 70px;
    fill: #fff;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__link {
    position: relative;
    z-index: 2;
    margin-right: 45px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;

    &::after {
      @include bg();
      @include pseudo();
      left: -10px;
      bottom: 0;
      z-index: 1;
      width: 20px;
      height: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
