.order {
  padding-bottom: 80px;

  .title {
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    padding: 0 100px;

    img {
      transform: scale(1.5);
    }
    @include mq("1360") {
      padding: 0;
    }
    @include mq("768") {
      flex-direction: column;
    }
  }

  &__input {
    outline: none;
    border: none;
    padding: 0 20px;
    min-height: 50px;
    max-width: 280px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-align: center;
    background: #fff;
    @include mq("768") {
      margin-bottom: 40px;
      min-width: 60%;
    }
  }
}
