.promotion {
  position: relative;
  padding: 70px 0 240px;
  @include mq("768") {
    padding: 40px 0 100px;
  }

  .container {
    display: flex;
    @include mq("1360") {
      flex-direction: column;
    }
  }

  .bgc_y {
    position: absolute;
    left: 0;
    top: -50px;
    z-index: -1;
    width: 50%;
    height: 499px;
    background: rgba(243, 255, 222, 0.35);
  }

  &__text {
    max-width: 50%;
    @include mq("1360") {
      margin: 0 auto;
      max-width: 90%;
      text-align: center;
    }
    @include mq("768") {
      margin-bottom: 40px;
    }
  }

  &__descr {
    margin-top: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    span {
      font-weight: 700;
      font-size: 26px;
    }
  }

  &__timer {
    max-width: 50%;

    .title {
      text-align: right;
      @include mq("768") {
        text-align: center;
      }
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;
      padding-left: 95px;

      &__block {
        min-width: 102px;
        min-height: 120px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        background: #fff;

        span {
          display: block;
          margin-top: 20px;
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 56px;
        }
        @include mq("1360") {
          margin: 10px;
        }
        @include mq("500") {
          min-width: 65px;
          min-height: 60px;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            font-size: 42px;
          }
        }
      }
      @include mq("768") {
        padding-left: 0;
      }
    }
    @include mq("1360") {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      max-width: 90%;
      text-align: center;
    }
    @include mq("768") {
      flex-direction: column;
    }
  }
}
