.promotion {
  position: relative;
  padding: 70px 0 240px;

  .container {
    display: flex;
  }

  .bgc_y {
    position: absolute;
    left: 0;
    top: -50px;
    z-index: -1;
    width: 50%;
    height: 499px;
    background: rgba(243, 255, 222, 0.35);
  }

  &__text {
    width: 50%;
  }

  &__descr {
    margin-top: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    span {
      font-weight: 700;
      font-size: 26px;
    }
  }

  &__timer {
    width: 50%;

    .title {
      text-align: right;
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;
      padding-left: 95px;

      &__block {
        width: 102px;
        height: 120px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        background: #fff;

        span {
          display: block;
          margin-top: 20px;
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 56px;
        }
      }
    }
  }
}
