footer.footer
  .container
    .social
      .subtitle Мы в социальных сетях:
      a.link(href='#') instagram
      a.link(href='#') facebook
    .pepper
      img(src='icons/veg.svg', alt='pepper')
    .call
      .subtitle Или позвоните нам
      a.link(href='#') +380678341034
      a.link(href='#') +380500941356