footer.footer
  .container.footer__container
    .footer__social
      .footer__subtitle Мы в социальных сетях:
      a.footer__link(href='#') instagram
      a.footer__link(href='#') facebook
    .footer__logo
      svg.footer__img
        use(xlink:href="images/sprite.svg#footer")
    .footer__numbers
      .footer__subtitle Или позвоните нам
      a.footer__link(href="tel:+380678341034") +380678341034
      a.footer__link(href="tel:+380500941356") +380500941356