header.header
  .container
    .header__content
      .header__logo
        svg.header__icon
          use(xlink:href="images/sprite.svg#logo")
      nav.header__links
        a.header__link(href='#') Доставка еды
        a.header__link.header__link--special(href='#') Особые пожелания
      .header__btn
        button.btn.btn_white(data-modal) Связаться с нами